.App-img-container {
    padding-top: 80px;
    margin: 0;
}

.OurWork-container {
    width: 100%;
}

.OurWork-header {
    font-size: 64px;
}

.section-header {
    font-size: 64px;
}

.content-img-container > img {
    width: 75%; /* Set the width of the image to 75% of the parent element */
    max-width: 100%; /* Make sure the image does not exceed the width of the parent element */
    height: auto; /* Set the height to auto to maintain the aspect ratio of the image */
}

.content-container {
    padding-top: 8px;
    padding-bottom: 16px;
    background: radial-gradient(50% 50% at 50% 50%, #ff6973 0%, #46425e 0.01%);
}

/* Set the video container to full width and auto adjust height */
.video-container {
    width: 100%;
    height: auto;
}

/* Set the video element to 75% width of its container, and auto adjust height.
Center the video horizontally with margin auto */
.video-container video {
    width: 75%;
    height: auto;
    display: block;
    margin: auto;
}

.content-text-container {
    font-size: 28px;
    margin-left: 12px;
    margin-right: 12px;
}

.Team-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 200px;
    gap: 40px 10px;
}

.Team-grid-item {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.Team-grid-item img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.Team-grid-item h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.Team-member-header {
    font-size: 20px;
    color: #00b9be;
}

.Team-member-role {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #ff6973;
}

.Team-member-favourites {
    color: #00b9be;
    margin-top: 2px;
    margin-bottom: 5px;
}

.Team-member-favourites-list {
    margin-top: 5px;
    margin-bottom: 5px;
}
