/* The header container */
.Header {
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Align items to the left and right */
    align-items: center; /* Center items vertically */
    position: fixed; /* Make the header fixed so it stays at the top of the page */
    top: 0; /* Position the header at the top of the page */
    right: 0; /* Position the header at the right of the page */
    left: 0; /* Position the header at the left of the page */
    z-index: 999; /* Set the z-index to make sure the header is on top of other elements */
    background-color: #ff6973; /* Set the background color of the header */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow to the header */
    height: 80px; /* Set the height of the header */
    margin: 0;
    padding: 0;
}

/* The "Team Croissant" text */
.Header-team-text {
    font-family: "Economica", sans-serif; /* Set the font family for the text */
    font-size: 48px; /* Set the font size for the text */
    font-weight: 700; /* Set the font weight for the text */
    color: #ffeecc; /* Set the color of the text */
    cursor: pointer; /* Set the cursor to a pointer when hovering over the text */
    transition: all 0.2s ease-in-out; /* Add a smooth transition effect */
    width: 66.67%; /* Set the width of the text to two-thirds of the header */
    background-color: #46425e; /* Set the background color of the text */
    height: 100%; /* Set the height of the "Team Croissant" container to 100% */
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin-left: 0; /* Remove the left margin */
}

/* The navigation links */
.Header-navbar {
    display: flex; /* Use flexbox to align items */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically */
    gap: 20px; /* Add some space between the links */
    width: 33.33%; /* Set the width of the links to one-third of the header */
    height: 80px; /* Set the height of the navigation bar */
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    padding: 0 20px;
    font-size: 32px;
}

/* The individual navigation links */
.Header-navbar > div {
    font-family: "Economica", sans-serif; /* Set the font family for the links */
    font-size: 32px; /* Set the font size for the links */
    font-weight: 500; /* Set the font weight for the links */
    color: #ffffff; /* Set the color of the links */
    cursor: pointer; /* Set the cursor to a pointer when hovering over the links */
    transition: all 0.2s ease-in-out; /* Add a smooth transition effect */
}

/* The hover effect for the navigation links */
.Header-navbar > div:hover {
    color: #eee; /* Set the color of the links when hovering over them */
    text-decoration: none;
    border-bottom: 1px solid #eee;
}
