html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Economica";
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #ffeecc;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding: 0 auto;
    background-attachment: fixed;
    background-size: cover;
}

main {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.App-top {
    background: linear-gradient(180deg, #00b9be 0%, #15788c 100%);
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }

    .croissant-wrapper {
        position: absolute;
        width: 805px;
        height: 805px;
        left: 317px;
        top: 158px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .croissant-text {
        position: absolute;
        width: 100%;
        top: 80px;
        font-size: 96px;
        line-height: 110px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
    }

    .nav-item {
        font-size: 32px;
        line-height: 37px;
    }

    .nav-item a {
        color: #ffeecc;
        text-decoration: none;
        padding: 0 10px;
    }

    .nav-item a:hover {
        color: #ffeecc;
        text-decoration: underline;
    }
}

@media only screen and (max-width: 767px) {
    body {
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 100%;
        margin: 0;
        position: relative;
    }

    .croissant-wrapper {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .croissant-text {
        position: absolute;
        width: 100%;
        top: 30px;
        font-size: 48px;
        line-height: 55px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    .nav-item {
        font-size: 24px;
        line-height: 28px;
    }

    .nav-item a {
        color: #ffeecc;
        text-decoration: none;
        padding: 0 10px;
    }

    .nav-item a:hover {
        color: #ffeecc;
        text-decoration: underline;
    }
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #ff6973;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 85px;
    margin: 0;
    padding: 0;
}

.Header-team-text {
    font-family: "Economica", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #ffeecc;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 66.67%;
    background-color: #46425e;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}

.Header-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 33.33%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 32px;
}

.Header-navbar>div {
    font-family: "Economica", sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.Header-navbar>div:hover {
    color: #eee;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

.App-img-container {
    padding-top: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-img-container>img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.OurWork-container {
    width: 100%;
}

.OurWork-header {
    font-size: 64px;
}

.section-header {
    font-size: 64px;
}

.content-img-container>img {
    width: 75%;
    max-width: 100%;
    height: auto;
}

.content-container {
    padding-top: 8px;
    padding-bottom: 16px;
    background: radial-gradient(50% 50% at 50% 50%, #ff6973 0%, #46425e 0.01%);
}

.video-container {
    width: 100%;
    height: auto;
}

.video-container video {
    width: 75%;
    height: auto;
    display: block;
    margin: auto;
}

.content-text-container {
    font-size: 28px;
    margin-left: 12px;
    margin-right: 12px;
}

.Team-container {
    margin-bottom: 100px;
}

.Team-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 200px;
    gap: 40px 10px;
}

.Team-grid-item {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.Team-grid-item img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Team-grid-item h3 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.Team-member-header {
    color: #00b9be;
}

.Team-member-role {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #ff6973;
}

.Team-member-favourites {
    color: #00b9be;
    font-size: 22px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.Team-member-favourites-list {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.Contact-container {
    background: linear-gradient(180deg, #00b9be 0%, #15788c 100%);
    padding-top: 12px;
}